@charset "utf-8";

html{
    width:auto;

}

h1{
    font-size:24px;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}

img{
    height:300px;
    width:300px;
}
.table{
    display: flex;
    text-align:center;
}
.table_td{
    text-align:center;
}

.kakunin{
    width:500px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    height:auto;
}


button{
    margin:20px;
}

iframe{
    width: 500px;
    height:500px;
    margin-left:auto;
    margin-right:auto;

}
tr{
    width: 100%;
    position:center;
}

#AzukeruMap{
    margin-bottom: 100px;
}

.Itembase{
    height:20px;
    width:100px;
    margin-top: 140px;
    margin-bottom: 140px;
    margin-left: 20px;
}