@charset "utf-8";

html{
    width:auto;

}

h1{
    font-size:24px;
    text-align:center;
    padding-top:20px;
    padding-bottom:20px;
}

img{
    width : 50vw;
}

.table_td{
    text-align:center;
}

.kakunin{
    text-align:center;
 
}


button{
    margin:20px;
}

iframe{
    width: 500px;
    height:500px;
    margin-left:auto;
    margin-right:auto;

}
tr{
    width: 100%;
    
}

#AzukeruMap{
    margin-bottom: 100px;
}

.Itembase{
  margin:100%;
}

.Time{
    
    font-size:28px;
    font-style: bold;
}

.next_button{
    left:50%;
    right:50%;
    text-align:center;
}

.input_Azukeru{
    height:30px;
}

.kakunin_Item{
   right:30px
}

th{
    width: 20vw;
}